<!DOCTYPE html>
<html>

<head>
	<title>
		New Artist
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
		<table><tr>
		<td class="logo">
			<div>
				<a href="/"><img src="/images/flicktime-logo2-long.png" width="20%" /></a>
			</div>
		</td>
		<td>
			<table class="nav-table"><tr>
				<div th:if="${userDetails}">
					<td><span th:text="${userDetails.username}" class="nav-username"></span></td>
					<td><button onclick="window.location.href='/logout';">Logout</button><td>
				</div>
			</tr></table>
		</td>
		<td>
			<div th:unless="${userDetails}">
				<button onclick="window.location.href='/login';" class="nav-button">Login</button>
			</div>
		</td>
		</tr></table>
  	</nav>
	
	<h1>Add an artist</h1>
	

	
	<form th:action="@{/admin/artist}" method="POST" th:object="${artist}" enctype="multipart/form-data" class="form-compiling">
	
	    <div th:if="${#fields.hasGlobalErrors()}">
          <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Error</p>
        
        </div>
	
		
		<div>
			<label>Name:</label> <span><input type="text" th:field="${artist.name}"/></span>
			
			 <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>

		<div>
			<label>Surname:</label> <span><input type="text" th:field="${artist.surname}"/></span>
			
			 <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
		</div>

		<div>
			<label>Date of birth:</label> <span><input type="date" th:field="${artist.dateOfBirth}" /></span>
			
		</div>
		
		<hr>
		
		<div>
			<label>Date of death:</label> <span><input type="date" th:field="${artist.dateOfDeath}" /></span>
		</div>
		<hr>
		
		 <div>
		<label>Picture (url):</label> 
		<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg , image/jpg" />
		</div>
		
		<div>
			<span><button type="submit">Confirm</button></span>
		</div>
		
	</form>
	

</body>

</html>