<!DOCTYPE html>
<html>

<head>
	<title>
		FlickTime - Manage Movies
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
		<table><tr>
		<td class="logo">
			<div>
				<a href="/"><img src="/images/flicktime-logo2-long.png" width="20%" /></a>
			</div>
		</td>
		<td>
			<table class="nav-table"><tr>
				<div th:if="${userDetails}">
					<td><span th:text="${userDetails.username}" class="nav-username"></span></td>
					<td><button onclick="window.location.href='/logout';">Logout</button><td>
				</div>
			</tr></table>
		</td>
		<td>
			<div th:unless="${userDetails}">
				<button onclick="window.location.href='/login';" class="nav-button">Login</button>
			</div>
		</td>
		</tr></table>
  	</nav>

	<h1>Manage Movies</h1>
	<div>
		<a href="/admin/formNewMovie">Insert data of a movie</a>
	</div>
	<div>
		<a href="/admin/manageMovies">Manage movies</a>
	</div>
	<div>
		<a href="/formSearchMovies">Search for movies by year</a>
	</div>
	<div>
		<a href="/formSearchMovieByTitle">Search by title</a>
	</div>
</body>

</html>