<!DOCTYPE html>
<html>

<head>
	<title>Manage Movies</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
		<table><tr>
		<td class="logo">
			<div>
				<a href="/"><img src="/images/flicktime-logo2-long.png" width="20%" /></a>
			</div>
		</td>
		<td>
			<table class="nav-table"><tr>
				<div th:if="${userDetails}">
					<td><span th:text="${userDetails.username}" class="nav-username"></span></td>
					<td><button onclick="window.location.href='/logout';">Logout</button><td>
				</div>
			</tr></table>
		</td>
		<td>
			<div th:unless="${userDetails}">
				<button onclick="window.location.href='/login';" class="nav-button">Login</button>
			</div>
		</td>
		</tr></table>
  	</nav>

	<h1>Movies</h1>
	<div th:if="${movies.isEmpty()}">There are no movies in the system</div>
	<ul>
		<li th:each="movie : ${movies}">
			<span th:text="${movie.title} + ' (' + ${movie.year} + ')'">Up! (2000)</span>
			<a th:href="@{'/admin/formUpdateMovie' + '/' + ${movie.id}}">Update</a>
		</li>
	</ul>
</body>

</html>