<!DOCTYPE html>
<html>
<head>
	<title>Search Movies</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
		<table><tr>
		<td class="logo">
			<div>
				<a href="/"><img src="/images/flicktime-logo2-long.png" width="20%" /></a>
			</div>
		</td>
		<td>
			<table class="nav-table"><tr>
				<div th:if="${userDetails}">
					<td><span th:text="${userDetails.username}" class="nav-username"></span></td>
					<td><button onclick="window.location.href='/logout';">Logout</button><td>
				</div>
			</tr></table>
		</td>
		<td>
			<div th:unless="${userDetails}">
				<button onclick="window.location.href='/login';" class="nav-button">Login</button>
			</div>
		</td>
		</tr></table>
  	</nav>

	<h1>Search for movies by year</h1>
	<form th:action="@{/searchMovies}" method="post" class="form-compiling">
		<div>Year: <input type="text" th:value="${year}" name="year" />
		</div>
		<div><input type="submit" value="Search"/></div>
	</form>
</body>

</html>